.body {
    background-color: rgb(175, 255, 255);
    text-align: center;
    font-family: 'DynaPuff', cursive;
}
div {
    text-align: center;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
a {
    font-size: 20px;
    text-decoration: dashed;
    color: blue;
    font-family: 'DynaPuff', cursive;
}
a:hover {
    font-size: 20px;
    text-decoration: dashed;
    color: rgb(0, 0, 101);
    font-family: 'DynaPuff', cursive;
}
button {
    height: 30px;
    background-color: rgb(0, 0, 85);
    color: white;
}
.ans {
    color: green;
    font-size: 40px;
}
